body{
  color:white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color:white;
    text-decoration: none;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid dodgerblue;

}
.center{
    text-align: center;
}
h1{
    color: deepskyblue;
}
footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid none;
}
footer {
    display: flex;
    justify-content: center;
    text-decoration: center;
}
footer a{
    margin: 15px;
    text-align: center;
}

footer p{
    margin-top: 2px;
}
.container{
    padding: 0px 50px;
}
nav a:hover {
    color: deepskyblue;
}
h3 p{
    text-align: justify;
    border: solid;
}
h2 {
    color: deepskyblue;
    text-align: center;
}

#fotomae{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid rgb(73, 228, 255);
}
#fotoju{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid rgb(73, 228, 255);
}
#fotopai{
    width: 110px;
    height: 110px;

    border-radius: 50%;
    border: 5px solid rgb(73, 228, 255);
}
#fotothi{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid rgb(73, 228, 255);
}
#fotomel{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid rgb(73, 228, 255);
}
.row{
    text-align: center;
}
main{
    padding: 10px;
    border: 1px solid rgb(221, 194, 146);
}